
body {background-color: white;}
h1,h2,h3 {text-shadow:none}
table {break-inside:auto;  }
tr    {break-inside:avoid; break-after:auto }
tr.pass, .currentdisplay {color:Green}
tr.fail, tr.error {color:#ff3333 /*red*/}
tr.warning {color:orange;}
.scenario {padding:0px; margin:0px;border:none}
.postIt{display:none;}
.menu {display:none}
.noprint{display:none}
.toc {display:none}
div.boxed div {float:none}
